<template>
  <div id="app" class="container">
    <nav-menu></nav-menu>
    <router-view></router-view>
  </div>
</template>

<script>
  import NavigationMenu from '@/components/NavigationMenu';

  export default {
    name: 'app',
    components: {
      'nav-menu': NavigationMenu,
    },
  };
</script>

<style scoped>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
