<template>
  <div>
    <form class="row">
      <div class="input-field col s12">
        <input id="search" type="search" required v-model="searchQuery">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" v-on:click="resetFilter">close</i>
      </div>
    </form>
    <table class="bordered centered responsive-table">
      <thead>
      <tr>
        <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(variable, index) in filteredData">
        <td>
          {{ variable.name }}
        </td>
        <td>
          <variable-display
            :number="index"
            :variable="variable">
          </variable-display>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
  import Variable from '@/components/Variable';

  export default {
    name: 'board-table-dictionary',
    components: {
      'variable-display': Variable,
    },
    props: {
      data: Array,
      columns: Array,
    },
    data() {
      const sortBy = {};
      this.columns.forEach((key) => {
        sortBy[key] = 1;
      });
      return {
        sortKey: '',
        searchQuery: '',
        sortOrders: sortBy,
      };
    },
    computed: {
      filteredData() {
        const sortKey = this.sortKey || this.columns[0];
        const filterKey = this.searchQuery && this.searchQuery.toLowerCase();
        const order = this.sortOrders[sortKey] || 1;
        let data = this.data;
        if (filterKey) {
          data = data.filter(
            row => Object.keys(row).some(
              key => String(row[key]).toLowerCase().indexOf(filterKey) > -1,
            ),
          );
        }
        if (sortKey) {
          data = data.slice().sort((a, b) => {
            const left = a[sortKey];
            const right = b[sortKey];
            let result;
            if (left === right) {
              result = 0;
            } else if (left > right) {
              result = 1 * order;
            } else {
              result = -1 * order;
            }
            return result;
          });
        }
        return data;
      },
    },
    filters: {
      capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
      },
    },
    methods: {
      sortBy(key) {
        this.sortKey = key;
        this.sortOrders[key] = this.sortOrders[key] * -1;
      },
      resetFilter() {
        this.searchQuery = '';
      },
    },
  };
</script>
<style scoped>
  .input-field input[type=search]:focus {
    border-bottom: 1px solid #ee6e73;
    box-shadow: 0 1px 0 0 #ee6e73;
  }

  table {
    border: 2px solid #ee6e73;
    border-radius: 3px;
    background-color: #fff;
    margin: 10px auto;
  }

  th {
    background-color: #ee6e73;
    color: rgba(255, 255, 255, 0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    width: 33%;
  }

  th.active {
    color: #fff;
  }

  th.active .arrow {
    opacity: 1;
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }
</style>
