<template xmlns="">
  <div>
    <form class="row">
      <div class="input-field col s12">
        <input id="search" type="search" required v-model="searchQuery">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" v-on:click="resetFilter">close</i>
      </div>
    </form>
    <form class="row">
      <p class="col s3" v-for="name in listName">
        <input type="checkbox" v-model="selectedList[name]" :id="'checkbox_'+name"/>
        <label :for="'checkbox_'+name">
          {{ name | replaceUnderscore | capitalize }}
        </label>
      </p>
    </form>
    <table class="bordered centered responsive-table">
      <thead>
      <tr>
        <th v-for="key in columns"
            class="active">
          {{ key | capitalize }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(variable, index) in filteredData">
        <td>
          {{ variable.key }}
        </td>
        <td>
          <variable-display
            :number="index"
            :column="'left'"
            :variable="variable.left">
          </variable-display>
        </td>
        <td>
          <variable-display
            :number="index"
            :column="'right'"
            :variable="variable.right">
          </variable-display>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
  import Variable from '@/components/Variable';

  export default {
    name: 'board-table-difference',
    components: {
      'variable-display': Variable,
    },
    props: {
      data: {
        variables_only_available_in_right: Array,
        variables_available_on_both_and_same_value: Array,
        variables_available_on_both_but_different_value: Array,
        variables_only_available_in_left: Array,
      },
      listName: Array,
    },
    data() {
      const selectedVariableList = {};
      this.listName.forEach((name) => {
        selectedVariableList[name] = true;
      });
      return {
        searchQuery: '',
        columns: ['key', 'left', 'right'],
        selectedList: selectedVariableList,
      };
    },
    computed: {
      filteredData() {
        const filterKey = this.searchQuery && this.searchQuery.toLowerCase();
        let fullVariableList = [];
        this.listName.forEach((name) => {
          if (this.selectedList[name]) {
            fullVariableList = fullVariableList.concat(this.data[name]);
          }
        });
        if (filterKey) {
          fullVariableList = fullVariableList.filter(
            row => Object.keys(row).some(
              key => String(row[key]).toLowerCase().indexOf(filterKey) > -1,
            ),
          );
        }
        return fullVariableList;
      },
    },
    filters: {
      capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
      },
      replaceUnderscore(str) {
        return str.replace(/_/g, ' ');
      },
    },
    methods: {
      resetFilter() {
        this.searchQuery = '';
      },
    },
  };
</script>
<style scoped>
  [type="checkbox"]:checked + label:before {
    border-right-color: #ee6e73;
    border-bottom-color: #ee6e73;
  }

  .input-field input[type=search]:focus {
    border-bottom: 1px solid #ee6e73;
    box-shadow: 0 1px 0 0 #ee6e73;
  }

  table {
    border: 2px solid #ee6e73;
    border-radius: 3px;
    background-color: #fff;
    margin: 10px auto;
  }

  th {
    background-color: #ee6e73;
    color: rgba(255, 255, 255, 0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    width: 33%;
  }

  th.active {
    color: #fff;
  }
</style>
