<template>
  <div class="row">
    <p>
      API service at <a :href="url">{{ url }}</a> does not seem to be available
    </p>
    <button class="btn waves-effect waves-light red" type="submit" name="action" v-on:click.prevent="APIStatus">
      Refresh
      <i class="material-icons right">refresh</i>
    </button>
  </div>
</template>
<script>
  import { getActuator, fetchActuator } from '@/client';

  export default {
    data() {
      return {
        url: getActuator().url,
      };
    },
    methods: {
      APIStatus() {
        fetchActuator()
          .then((data) => {
            this.$emit('achievement', data);
          }).catch(() => {});
      },
    },
    mounted() {
      this.APIStatus();
    },
  };
</script>
<style scoped>
</style>
