<template>
  <div id="dictionary-home">
    <div>
      <h1>Dictionary Explorer</h1>
    </div>
    <div v-if="this.APIisUp">
      <div class="divider"></div>
      <form-dictionary
        v-on:submitDictionary="askDictionary">
      </form-dictionary>
      <div class="divider"></div>
      <div v-if="this.isLoading" class="progress red lighten-4">
        <div class="indeterminate red lighten-1"></div>
      </div>
      <div v-else-if="this.repoURL !== ''">
        <div class="row">
          <div class="col s12 m6">
            <a class="chip red lighten-3" :href="repoURL">Link to the repository</a>
          </div>
          <div class="col s12 m6">
            <router-link
              :to="{name: 'source', params: { data: this.dictionary }}" 
              class="chip red lighten-3">
              Link to the source (JSON)
            </router-link>
          </div>
        </div>
        <div class="divider"></div>
        <div v-if="this.errorMessage === ''" class="row">
          <time-render class="col s12 xl2 push-xl10 sideBar"
                       :timeRequest="timeRequest"
                       :dateReceptionLastRequest="dateReceptionLastRequest">
          </time-render>
          <div class="col s12 xl10 pull-xl2">
            <board-table-dictionary
              :data="dictionary.variables"
              :columns="['name', 'value']">
            </board-table-dictionary>
          </div>
        </div>
        <div v-else class="chip pulse z-depth-5 purple lighten-1 white-text">
          <span class="error-message">{{ errorMessage }}</span>
        </div>
      </div>
    </div>
    <div v-else>
      <check-api v-on:achievement="updateStatus"></check-api>
    </div>
  </div>
</template>
<script>
  import moment from 'moment';
  import boardTableDictionary from '@/components/BoardTableDictionary';
  import formDictionary from '@/components/FormDictionary';
  import checkAPI from '@/components/CheckAPI';
  import timeRender from '@/components/TimeRender';
  import { fetchDictionary } from '@/client';

  export default {
    name: 'dictionary-home',
    components: {
      'board-table-dictionary': boardTableDictionary,
      'form-dictionary': formDictionary,
      'check-api': checkAPI,
      'time-render': timeRender,
    },
    data() {
      return {
        isLoading: false,
        APIisUp: false,
        errorMessage: '',
        timeRequest: 0,
        dateReceptionLastRequest: 0,
        source: 'board',
        dictionary: {
          envName: '',
          version: '',
          variables: [],
        },
        repoURL: '',
      };
    },
    methods: {
      askDictionary(dictionary) {
        const dateBeforeRequest = moment();
        this.repoURL = dictionary.url;
        this.isLoading = true;
        fetchDictionary(
          {
            url: dictionary.url,
            envName: dictionary.environmentName,
            versionNumber: dictionary.numberVersion,
          },
        ).then((data) => {
          this.dateReceptionLastRequest = moment();
          this.timeRequest = this.dateReceptionLastRequest - dateBeforeRequest;
          this.isLoading = false;
          this.errorMessage = '';
          this.dictionary = data;
        }).catch((error) => {
          if (error.response) {
            if (error.response.status === 400) {
              this.isLoading = false;
              this.errorMessage = error.response.data;
            }
          }
        });
      },
      updateStatus(response) {
        this.APIisUp = response.status === 'UP';
      },
    },
  }
  ;
</script>
<style scoped>
  #dictionary-home {
    padding-bottom: 30%;
  }

  .sideBar {
    margin-top: 10%;
  }

  .chip {
    margin-top: 5%;
  }

  .error-message {
    font-size: large;
  }

  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #f44336;
  }

  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #b71c1c;
  }
</style>
