<template>
  <div id="difference-home">
    <div>
      <h1>Difference Explorer</h1>
    </div>
    <div v-if="this.APIisUp">
      <div class="divider"></div>
      <form-difference
        v-on:submitDifference="askDifference">
      </form-difference>
      <div class="divider"></div>
      <div v-if="this.isLoading" class="progress red lighten-4">
        <div class="indeterminate red lighten-1"></div>
      </div>
      <div v-else-if="repoURLLeft !== '' && repoURLRight !== ''">
        <div class="row">
          <div class="col s12 l6">
            <a class="chip red lighten-3" :href="repoURLLeft">Link to the left repository</a>
            <a class="chip red lighten-3" :href="repoURLRight">Link to the right repository</a>
          </div>
          <div class="col s12 l6">
            <router-link 
              :to="{name: 'source', params: { data: this.difference }}" 
              class="chip red lighten-3">
              Link to the source (JSON)
            </router-link>
          </div>
        </div>
        <div class="divider"></div>
        <div v-if="this.errorMessage === ''" class="row">
          <time-render class="col s12 xl2 push-xl10 sideBar"
                       :timeRequest="timeRequest"
                       :dateReceptionLastRequest="dateReceptionLastRequest">
          </time-render>
          <div class="col s12 xl10 pull-xl2">
            <bord-table-difference
              :data="difference | concatenate"
              :listName="listName">
            </bord-table-difference>
          </div>
        </div>
        <div class="chip pulse z-depth-5 purple lighten-1 white-text" v-else>
          <span class="error-message">{{ errorMessage }}</span>
        </div>
      </div>
    </div>
    <div v-else>
      <check-api v-on:achievement="updateStatus"></check-api>
    </div>
  </div>
</template>
<script>
  import moment from 'moment';
  import formDifference from '@/components/FormDifference';
  import boardTableDifference from '@/components/BoardTableDifference';
  import checkAPI from '@/components/CheckAPI';
  import timeRender from '@/components/TimeRender';
  import { fetchDifference } from '@/client';

  export default {
    name: 'difference-home',
    components: {
      'form-difference': formDifference,
      'bord-table-difference': boardTableDifference,
      'check-api': checkAPI,
      'time-render': timeRender,
    },
    data() {
      return {
        isLoading: false,
        APIisUp: false,
        errorMessage: '',
        timeRequest: 0,
        dateReceptionLastRequest: 0,
        difference: {
          variables_only_available_in_right: [],
          variables_available_on_both_and_same_value: [],
          variables_available_on_both_but_different_value: [],
          variables_only_available_in_left: [],
          ERROR: [],
        },
        listName: [
          'variables_only_available_in_right',
          'variables_available_on_both_and_same_value',
          'variables_available_on_both_but_different_value',
          'variables_only_available_in_left',
        ],
        repoURLLeft: '',
        repoURLRight: '',
      };
    },
    methods: {
      askDifference(doubleDictionary) {
        const dateBeforeRequest = moment();
        this.isLoading = true;
        this.repoURLLeft = doubleDictionary.url;
        this.repoURLRight = doubleDictionary.urlSecond;
        fetchDifference(
          {
            url: doubleDictionary.url,
            envName: doubleDictionary.environmentName,
            versionNumber: doubleDictionary.versionNumber,
            urlSecond: doubleDictionary.urlSecond,
            envNameSecond: doubleDictionary.environmentNameSecond,
            versionNumberSecond: doubleDictionary.versionNumberSecond,
          },
        ).then((data) => {
          this.dateReceptionLastRequest = moment();
          this.timeRequest = this.dateReceptionLastRequest - dateBeforeRequest;
          this.errorMessage = '';
          this.isLoading = false;
          this.difference = data;
        }).catch((error) => {
          if (error.response) {
            if (error.response.status === 400) {
              this.isLoading = false;
              this.errorMessage = error.response.data;
            }
          }
        });
      },
      updateStatus(response) {
        this.APIisUp = response.status === 'UP';
      },
    },
    filters: {
      concatenate(difference) {
        return {
          variables_only_available_in_right:
            difference.variables_only_available_in_right,
          variables_available_on_both_and_same_value:
            difference.variables_available_on_both_and_same_value,
          variables_available_on_both_but_different_value:
            difference.variables_available_on_both_but_different_value,
          variables_only_available_in_left:
            difference.variables_only_available_in_left,
        };
      },
    },
  };
</script>
<style scoped>
  #difference-home {
    padding-bottom: 30%;
  }

  .sideBar {
    margin-top: 10%;
  }

  .chip {
    margin-top: 5%;
  }

  .error-message {
    font-size: large;
  }
</style>
