<template>
  <form class="row">
    <div class="col s12 m6">
      <div class="row">
        <div class="col s12">
          <label for="url">config repo url</label>
          <input v-model="url" id="url" class="validate" type="text"/>
        </div>
        <div class="col s12 m12 l6">
          <label for="environmentName">name of environment</label>
          <input v-model="environmentName" id="environmentName" class="validate" type="text"/>
        </div>
        <div class="col s12 m12 l6">
          <label for="versionNumber">number of version</label>
          <input v-model="versionNumber" id="versionNumber" class="validate" type="text"/>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="row">
        <div class="col s12">
          <label for="urlSecond">config repo url</label>
          <input v-model="urlSecond" id="urlSecond" class="validate" type="text"/>
        </div>
        <div class="col s12 m12 l6">
          <label for="environmentNameSecond">name of environment</label>
          <input v-model="environmentNameSecond" id="environmentNameSecond" class="validate" type="text"/>
        </div>
        <div class="col s12 m12 l6">
          <label for="versionNumberSecond">number of version</label>
          <input v-model="versionNumberSecond" id="versionNumberSecond" class="validate" type="text"/>
        </div>
      </div>
    </div>
    <button class="btn waves-effect waves-light red" type="submit" name="action" v-on:click.prevent="sentDataToParent">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</template>
<script>
  export default{
    name: 'form-dictionary',
    data() {
      return {
        url: 'https://gitlab.com/cfurmaniak/guestbook-configuration-confd.git',
        environmentName: 'dev-local',
        versionNumber: '0.2.4',
        urlSecond: 'https://gitlab.com/cfurmaniak/guestbook-configuration-confd.git',
        environmentNameSecond: 'prod',
        versionNumberSecond: '0.2.4',
      };
    },
    methods: {
      sentDataToParent() {
        this.$emit('submitDifference', {
          url: this.url,
          environmentName: this.environmentName,
          versionNumber: this.versionNumber,
          urlSecond: this.urlSecond,
          environmentNameSecond: this.environmentNameSecond,
          versionNumberSecond: this.versionNumberSecond,
        });
      },
    },
  };
</script>
<style scoped>
  label {
    color: #ff191c;
    font-size: 20px;
  }

  input[type=text]:focus {
    border-bottom: 1px solid #9e0b0e !important;
    box-shadow: 0 1px 0 0 #9e0b0e !important;
  }
</style>
