<template>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="col s12">
          <label for="url">config repo url</label>
          <input v-model="url" id="url" class="validate" type="text"/>
        </div>
        <div class="col s12 m12 l6">
          <label for="environmentName">name of environment</label>
          <input v-model="environmentName" id="environmentName" class="validate" type="text"/>
        </div>
        <div class="col s12 m12 l6">
          <label for="numberVersion">number of version</label>
          <input v-model="numberVersion" id="numberVersion" class="validate" type="text"/>
        </div>
      </div>
      <button class="btn waves-effect waves-light red" type="submit" name="action" v-on:click.prevent="sentDataToParent">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>
<script>
  export default{
    name: 'form-dictionary',
    data() {
      return {
        url: 'https://gitlab.com/cfurmaniak/guestbook-configuration-confd.git',
        environmentName: 'dev-local',
        numberVersion: '0.2.4',
      };
    },
    methods: {
      sentDataToParent() {
        this.$emit('submitDictionary', {
          url: this.url,
          environmentName: this.environmentName,
          numberVersion: this.numberVersion,
        });
      },
    },
  };
</script>
<style scoped>
  label {
    color: #ff191c;
    font-size: 20px;
  }

  input[type=text]:focus {
    border-bottom: 1px solid #9e0b0e !important;
    box-shadow: 0 1px 0 0 #9e0b0e !important;
  }
</style>
