<template>
  <div>
    <h1>{{ title }}</h1>
    <p>
      This web application is here to help you with the management of yours applications. 
      You will be able to create and see a single dictionary. 
      You could also make the difference between two dictionaries. 
      For both, you should give the url of your git repository, the name of the targeted environment and the targeted version. 
    </p>
    <p>
      Developped with love by Jules HABLOT during an intership into Zenika Inc.
    </p>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        title: 'Configuration Explorer',
      };
    },
  };
</script>
<style scoped>
</style>
