<template>
  <nav class="nav-wrapper">
    <a href="#" class="brand-logo">Zenika</a>
    <a href="#!" data-activates="mobile-bar" class="button-collapse">
      <i class="material-icons">
        menu
      </i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <router-link to="home">
          Home
        </router-link>
      </li>
      <li>
        <router-link to="dictionary">
          Dictionary
        </router-link>
      </li>
      <li>
        <router-link to="difference">
          Difference
        </router-link>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-bar">
      <li>
        <router-link to="home">
          Home
        </router-link>
      </li>
      <li>
        <router-link to="dictionary">
          Dictionary
        </router-link>
      </li>
      <li>
        <router-link to="difference">
          Difference
        </router-link>
      </li>
    </ul>
  </nav>
</template>
<script>
  export default {
    mounted() {
      /* eslint-disable no-undef */
      $('.button-collapse').sideNav();
    },
  };
</script>
<style scoped>
</style>
