<template>
  <div>
    {{ json }} 
  </div>
</template>
<script>
  export default {
    data() {
      return {
        json: 'No data given!',
      };
    },
    mounted() {
      this.json = this.$route.params.data;
    },
  };
</script>
<style scoped>
</style>
