<template>
  <div v-if="timeRequest !== 0" class="row">
    <div class="chip col s12 red lighten-4">
      Time for the request: {{ timeRequest }}ms
    </div>
    <div class="chip col s12 red lighten-4">
      Generated at {{ dateReceptionLastRequest | fullDate }}
    </div>
  </div>
</template>
<script>
  import moment from 'moment';

  export default {
    props: {
      timeRequest: 0,
      dateReceptionLastRequest: 0,
    },
    filters: {
      fullDate(date) {
        return moment(date).format('dddd, MMMM Do YYYY, h:mm:ss a');
      },
    },
  };
</script>
<style>
  .chip {
    height: auto;
  }
</style>
