<template>
  <div class="container-all">
    <div class="value">
      {{ variable.value }}
    </div>
    <div class="container-buttons">
      <div>
        <div class="btn btn-floating red darken-1" v-on:mouseover="expandDescription" v-on:mouseleave="reduceDescription">
          <i class="material-icons">description</i>
        </div>
        <div :id='"description"+column+number' class="pop-in chip z-depth-3">
          From file: {{ variable.origin }}
        </div>
      </div>
      <div>
        <div class="btn btn-floating red darken-1" v-on:mouseover="expandHistory" v-on:mouseleave="reduceHistory">
          <i class="material-icons">history</i>
        </div>
        <div :id='"history"+column+number' class="pop-in chip z-depth-3">
          <h5>History</h5>
          <table class="bordered centered responsive-table">
            <thead>
            <tr>
              <th v-for="name in columnsName">
                {{ name | capitalize }}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in variable.valuesHistory">
              <td v-for="key in columnsName">
                {{ entry[key] }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      number: Number,
      column: '',
      variable: {
        name: String,
        origin: String,
        value: String,
        valuesHistory: Array,
      },
    },
    data() {
      return {
        columnsName: ['lineNumber', 'origin', 'value'],
      };
    },
    methods: {
      expandDescription() {
        document.getElementById(`description${this.column}${this.number}`).style.display = 'block';
      },
      reduceDescription() {
        document.getElementById(`description${this.column}${this.number}`).style.display = 'none';
      },
      expandHistory() {
        document.getElementById(`history${this.column}${this.number}`).style.display = 'block';
      },
      reduceHistory() {
        document.getElementById(`history${this.column}${this.number}`).style.display = 'none';
      },
    },
    filters: {
      capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
      },
    },
  };
</script>
<style>
  .value {
    padding-right: 5%;
    line-height: 40px;
    text-align: center;
    width: 100%;
    word-break: break-all;
  }

  .container-all {
    display: flex;
    justify-content: space-between;
  }

  .container-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pop-in {
    display: none;
    position: absolute;
    z-index: 5;
    height: auto;
    width: 50%
  }
</style>
